/* CSS */

$font-Proximanova-Light: "Proximanova-Light";
$font-proximanova-regular: "Proximanova-Regular";
$font-proximanova-semibold: "proximanova-semibold";
$font-proximanova-bold: "proximanova-bold";

$color-black: #333;
$color-blue:#1595d3;


.font-Proximanova-Light {
	font-family: "proxima-nova";
	font-weight: 300;
	
	font-style: normal;	
}

.font-proximanova-regular {
	font-family: "proxima-nova";
	font-weight: 400;
	font-style: normal;
}

.font-proximanova-semibold {
	font-family: "proxima-nova";
	font-weight: 600;
	font-style: normal;
}

.font-proximanova-bold {
	font-family: "proxima-nova";
	font-weight: 700;
	font-style: normal;
}

body {
	color: #fff;
	font-size: 14px;
	@extend .font-proximanova-regular;
	line-height: 23px;
	margin: 0;
	text-align: center;
}

.bgcover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.animatecss {
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;	
}

a {
	color: #666;
	text-decoration: none;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

a:hover, a:active {
	color: inherit;
	text-decoration: underline;
	opacity: 0.8;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.clear {
	clear: both;
}

.alpha { 
	padding-left: 0 !important; 
}

.omega { 
	padding-right: 0 !important; 
}

.no-padding {
	padding: 0 !important;
}

img.border {
	border: 1px solid #B1B1B1;
	margin-bottom: 5%;
	max-width: 100%;
}

img.border:hover, img.border:active {
	border: 1px solid #858585;
	cursor: pointer;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.wrapper { display: block; margin: 0 auto; text-align: center; max-width: 970px; padding-left: 15px; padding-right:15px; }
.wrapper2 { display: block; margin: 0 auto; text-align: center; max-width: 1100px; padding-left: 15px; padding-right:15px; }
.imgwrp img { max-width:100%;}
img { max-width: 100%;}
/* --------------------- HEADER LAYOUT --------------------- */
#headerweb {
	display: block;
	padding-top: 43px;
	padding-bottom: 43px;	
	overflow: hidden;
	border-bottom: #c6d0d6 solid 4px;
	.mainlogo {
		img {
			max-width: 304px;
		}
	}
	.left {
		float: left;
		width: 50%;
		text-align: left;
	}
	.right {
		float: right;
		width: 50%;
		text-align: right;
		span {
			font-size: 48px;
			@extend .font-proximanova-bold;
			color: $color-black;
			line-height: normal;
		}
	}
}
/* --------------------- END HEADER LAYOUT --------------------- */

/* --------------------- BODYWEB LAYOUT --------------------- */

#bodyweb {
}

.mainbaner {
	background: url("../images/baner.jpg") no-repeat center;
	@extend .bgcover;
	margin: 0 auto; 
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 90px;
	.content {
		color: #fff;
		font-size: 36px;
		@extend .font-proximanova-bold;
		a {
			color: $color-blue;
			text-decoration: underline;
		}
		p {
			max-width: 933px;
			margin: 0 auto;
			direction: block;
			line-height: normal;
			margin-top: 35px;
			margin-bottom: 0;
		}
	}
}

.wrp-silver {
	background: #f2f2f2;
	width: 100%;
	border-bottom: #c6d0d6 solid 1px;
	min-height: 70px;
	overflow: hidden;
	.content {
		.item {
			float: left;
			min-height: 60px;
			text-align: center;
			border-left: #c6d0d6 solid 1px;
			color: $color-black;
			width: 33.33%;
			padding-top: 44px;
			padding-bottom: 50px;
			font-size: 18px;
			@extend .font-proximanova-semibold;
			img {
				display: block;
				margin: 0 auto;
				margin-bottom: 10px;
				clear: left;
				max-width: 120px;
			}
		}
		.item:last-child {
			border-right: #c6d0d6 solid 1px;
		}
	}
}

.linkred {
	color: #f26522;
	display: inline-block;
	font-size: 20px;
	padding: 10px 25px;
	margin: 0 auto;
	border:#f26522 solid 2px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.linkred:hover {
	background: #f26522;
	color: #fff;
	text-decoration: none;
}

/* --------------------- END BODYWEB LAYOUT --------------------- */

/* --------------------- FOOTER LAYOUT --------------------- */
#footerweb {
	background: #3d464b;
	color: #898d90;
	width: 100%;
	min-height: 70px;
	border-top: $color-blue solid 4px;
	padding-top: 40px;
	overflow: hidden;
	.contact {
		text-align: left;
		color: #787e81;
		font-size: 20px;
	}
	p {
		margin-top: 25px;
		margin-bottom: 25px;
		line-height: normal;
	}
	.title {
		color: #fff;
		border: #fff solid 2px;
		padding: 10px 27px;
		font-size: 20px;
		text-align: center;
		display: inline-block;
	}
	.socmed {
		display: block;
		margin-top: 30px;
		a {
			border:#787e81 solid 1px;
			width: 33px;
			height: 33px;
			border-radius: 50%;
			display: inline-block;
			text-align: center;
			padding-top: 7px;
			margin-right: 2px;
		}
		a:hover {
			background: #fff;
			border:#fff solid 1px;
			color: $color-blue;
		}
	}
	.links {
		font-size: 16px;
		text-align: left;
		color: #fff;
		a {
			display: block;
			color: #fff;
			margin-bottom: 10px;
		}
		a:last-child {
			margin-bottom: 0;
		}
	}
	.wrp-logopartner {
		background: #fff;
		padding: 15px;
		border-radius: 5px;
		img {
			max-height: 75px;
		}
		.item {
			margin-left: 12px;
			margin-right: 12px;
			display: inline-block;
		}
		.item:last-child {
			margin-right: 0;
		}
		.item:first-child {
			margin-left: 0;
		}
	}
	.foot-bottom {
		padding: 20px 20px;
		padding-bottom: 40px;
		color: #fff;
		border-top: #787e81 solid 1px;
		margin-top: 30px;
		display: block;
		font-size: 14px;
		a {
			color: #fff;
		}
		.left {
			float: left;
			display: inline-block;
		}
		.right {
			display: inline-block;
			float: right;
		}
	}
}
/* --------------------- END FOOTER LAYOUT --------------------- */

/* Mobile device */
@media (max-width: 767px) {
	#headerweb {
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		.mainlogo {
			display: block;
			text-align: center;
			img {
				max-width: 70%;
			}
		}
		.left {
			width: 100%;
			margin-bottom: 10px;
		}
		.right {
			width: 100%;
			span {
				font-size: 43px;
				display: block;
				text-align: center;
			}
		}
	}
	.mainbaner {
		.content {
			font-size: 30px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.wrp-silver {
		.content {
			.item {
				width: 100%;
				border-left: 0;
				border-right: 0;
			}
			.item:last-child {
				border-right: 0;
			}
		}
	}
	#footerweb {
		.contact {
			text-align: center;
		}
		.links {
			text-align: center;
		}
		.foot-bottom {
			display: inline-block;
			padding-bottom: 20px;
			.left, .right {
				float: none;
				display: block;
				text-align: center;
			}
		}
		.wrp-logopartner {
			margin-top: 20px;
		}
		.socmed {
			margin-bottom: 20px;
		}
	}
}

/* Tablet device */
@media (min-width: 768px)  and (max-width: 991px) {
	#footerweb {
		.contact {
			text-align: center;
		}
		.links {
			text-align: center;
		}
	}
}

/* Desktop small screen */
@media (min-width: 992px) {
}

/* Desktop large screen */
@media (min-width: 1200px) {
}

