/* CSS */
/* line 12, ../scss/style.scss */
.font-Proximanova-Light {
  font-family: "proxima-nova";
  font-weight: 300;
  font-style: normal;
}

/* line 19, ../scss/style.scss */
.font-proximanova-regular, body {
  font-family: "proxima-nova";
  font-weight: 400;
  font-style: normal;
}

/* line 25, ../scss/style.scss */
.font-proximanova-semibold, .wrp-silver .content .item {
  font-family: "proxima-nova";
  font-weight: 600;
  font-style: normal;
}

/* line 31, ../scss/style.scss */
.font-proximanova-bold, #headerweb .right span, .mainbaner .content {
  font-family: "proxima-nova";
  font-weight: 700;
  font-style: normal;
}

/* line 37, ../scss/style.scss */
body {
  color: #fff;
  font-size: 14px;
  line-height: 23px;
  margin: 0;
  text-align: center;
}

/* line 46, ../scss/style.scss */
.bgcover, .mainbaner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 53, ../scss/style.scss */
.animatecss {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

/* line 60, ../scss/style.scss */
a {
  color: #666;
  text-decoration: none;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

/* line 69, ../scss/style.scss */
a:hover, a:active {
  color: inherit;
  text-decoration: underline;
  opacity: 0.8;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

/* line 79, ../scss/style.scss */
.clear {
  clear: both;
}

/* line 83, ../scss/style.scss */
.alpha {
  padding-left: 0 !important;
}

/* line 87, ../scss/style.scss */
.omega {
  padding-right: 0 !important;
}

/* line 91, ../scss/style.scss */
.no-padding {
  padding: 0 !important;
}

/* line 95, ../scss/style.scss */
img.border {
  border: 1px solid #B1B1B1;
  margin-bottom: 5%;
  max-width: 100%;
}

/* line 101, ../scss/style.scss */
img.border:hover, img.border:active {
  border: 1px solid #858585;
  cursor: pointer;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

/* line 110, ../scss/style.scss */
.wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 970px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 111, ../scss/style.scss */
.wrapper2 {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 112, ../scss/style.scss */
.imgwrp img {
  max-width: 100%;
}

/* line 113, ../scss/style.scss */
img {
  max-width: 100%;
}

/* --------------------- HEADER LAYOUT --------------------- */
/* line 115, ../scss/style.scss */
#headerweb {
  display: block;
  padding-top: 43px;
  padding-bottom: 43px;
  overflow: hidden;
  border-bottom: #c6d0d6 solid 4px;
}
/* line 122, ../scss/style.scss */
#headerweb .mainlogo img {
  max-width: 304px;
}
/* line 126, ../scss/style.scss */
#headerweb .left {
  float: left;
  width: 50%;
  text-align: left;
}
/* line 131, ../scss/style.scss */
#headerweb .right {
  float: right;
  width: 50%;
  text-align: right;
}
/* line 135, ../scss/style.scss */
#headerweb .right span {
  font-size: 48px;
  color: #333333;
  line-height: normal;
}

/* --------------------- END HEADER LAYOUT --------------------- */
/* --------------------- BODYWEB LAYOUT --------------------- */
/* line 150, ../scss/style.scss */
.mainbaner {
  background: url("../images/baner.jpg") no-repeat center;
  margin: 0 auto;
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
}
/* line 159, ../scss/style.scss */
.mainbaner .content {
  color: #fff;
  font-size: 36px;
}
/* line 163, ../scss/style.scss */
.mainbaner .content a {
  color: #1595d3;
  text-decoration: underline;
}
/* line 167, ../scss/style.scss */
.mainbaner .content p {
  max-width: 933px;
  margin: 0 auto;
  direction: block;
  line-height: normal;
  margin-top: 35px;
  margin-bottom: 0;
}

/* line 178, ../scss/style.scss */
.wrp-silver {
  background: #f2f2f2;
  width: 100%;
  border-bottom: #c6d0d6 solid 1px;
  min-height: 70px;
  overflow: hidden;
}
/* line 185, ../scss/style.scss */
.wrp-silver .content .item {
  float: left;
  min-height: 60px;
  text-align: center;
  border-left: #c6d0d6 solid 1px;
  color: #333333;
  width: 33.33%;
  padding-top: 44px;
  padding-bottom: 50px;
  font-size: 18px;
}
/* line 196, ../scss/style.scss */
.wrp-silver .content .item img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  clear: left;
  max-width: 120px;
}
/* line 204, ../scss/style.scss */
.wrp-silver .content .item:last-child {
  border-right: #c6d0d6 solid 1px;
}

/* line 210, ../scss/style.scss */
.linkred {
  color: #f26522;
  display: inline-block;
  font-size: 20px;
  padding: 10px 25px;
  margin: 0 auto;
  border: #f26522 solid 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 221, ../scss/style.scss */
.linkred:hover {
  background: #f26522;
  color: #fff;
  text-decoration: none;
}

/* --------------------- END BODYWEB LAYOUT --------------------- */
/* --------------------- FOOTER LAYOUT --------------------- */
/* line 230, ../scss/style.scss */
#footerweb {
  background: #3d464b;
  color: #898d90;
  width: 100%;
  min-height: 70px;
  border-top: #1595d3 solid 4px;
  padding-top: 40px;
  overflow: hidden;
}
/* line 238, ../scss/style.scss */
#footerweb .contact {
  text-align: left;
  color: #787e81;
  font-size: 20px;
}
/* line 243, ../scss/style.scss */
#footerweb p {
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: normal;
}
/* line 248, ../scss/style.scss */
#footerweb .title {
  color: #fff;
  border: #fff solid 2px;
  padding: 10px 27px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}
/* line 256, ../scss/style.scss */
#footerweb .socmed {
  display: block;
  margin-top: 30px;
}
/* line 259, ../scss/style.scss */
#footerweb .socmed a {
  border: #787e81 solid 1px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding-top: 7px;
  margin-right: 2px;
}
/* line 269, ../scss/style.scss */
#footerweb .socmed a:hover {
  background: #fff;
  border: #fff solid 1px;
  color: #1595d3;
}
/* line 275, ../scss/style.scss */
#footerweb .links {
  font-size: 16px;
  text-align: left;
  color: #fff;
}
/* line 279, ../scss/style.scss */
#footerweb .links a {
  display: block;
  color: #fff;
  margin-bottom: 10px;
}
/* line 284, ../scss/style.scss */
#footerweb .links a:last-child {
  margin-bottom: 0;
}
/* line 288, ../scss/style.scss */
#footerweb .wrp-logopartner {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
}
/* line 292, ../scss/style.scss */
#footerweb .wrp-logopartner img {
  max-height: 75px;
}
/* line 295, ../scss/style.scss */
#footerweb .wrp-logopartner .item {
  margin-left: 12px;
  margin-right: 12px;
  display: inline-block;
}
/* line 300, ../scss/style.scss */
#footerweb .wrp-logopartner .item:last-child {
  margin-right: 0;
}
/* line 303, ../scss/style.scss */
#footerweb .wrp-logopartner .item:first-child {
  margin-left: 0;
}
/* line 307, ../scss/style.scss */
#footerweb .foot-bottom {
  padding: 20px 20px;
  padding-bottom: 40px;
  color: #fff;
  border-top: #787e81 solid 1px;
  margin-top: 30px;
  display: block;
  font-size: 14px;
}
/* line 315, ../scss/style.scss */
#footerweb .foot-bottom a {
  color: #fff;
}
/* line 318, ../scss/style.scss */
#footerweb .foot-bottom .left {
  float: left;
  display: inline-block;
}
/* line 322, ../scss/style.scss */
#footerweb .foot-bottom .right {
  display: inline-block;
  float: right;
}

/* --------------------- END FOOTER LAYOUT --------------------- */
/* Mobile device */
@media (max-width: 767px) {
  /* line 332, ../scss/style.scss */
  #headerweb {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /* line 336, ../scss/style.scss */
  #headerweb .mainlogo {
    display: block;
    text-align: center;
  }
  /* line 339, ../scss/style.scss */
  #headerweb .mainlogo img {
    max-width: 70%;
  }
  /* line 343, ../scss/style.scss */
  #headerweb .left {
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 347, ../scss/style.scss */
  #headerweb .right {
    width: 100%;
  }
  /* line 349, ../scss/style.scss */
  #headerweb .right span {
    font-size: 43px;
    display: block;
    text-align: center;
  }

  /* line 357, ../scss/style.scss */
  .mainbaner .content {
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 365, ../scss/style.scss */
  .wrp-silver .content .item {
    width: 100%;
    border-left: 0;
    border-right: 0;
  }
  /* line 370, ../scss/style.scss */
  .wrp-silver .content .item:last-child {
    border-right: 0;
  }

  /* line 376, ../scss/style.scss */
  #footerweb .contact {
    text-align: center;
  }
  /* line 379, ../scss/style.scss */
  #footerweb .links {
    text-align: center;
  }
  /* line 382, ../scss/style.scss */
  #footerweb .foot-bottom {
    display: inline-block;
    padding-bottom: 20px;
  }
  /* line 385, ../scss/style.scss */
  #footerweb .foot-bottom .left, #footerweb .foot-bottom .right {
    float: none;
    display: block;
    text-align: center;
  }
  /* line 391, ../scss/style.scss */
  #footerweb .wrp-logopartner {
    margin-top: 20px;
  }
  /* line 394, ../scss/style.scss */
  #footerweb .socmed {
    margin-bottom: 20px;
  }
}
/* Tablet device */
@media (min-width: 768px) and (max-width: 991px) {
  /* line 403, ../scss/style.scss */
  #footerweb .contact {
    text-align: center;
  }
  /* line 406, ../scss/style.scss */
  #footerweb .links {
    text-align: center;
  }
}
/* Desktop small screen */
/* Desktop large screen */
